[Desktop Entry]
Name=Imhotep Tasks
Comment=Task management application
Exec=imhotep-tasks
Icon=/icon.png
Terminal=false
Type=Application
Categories=Utility;Office;
StartupWMClass=Imhotep Tasks
X-GNOME-UsesNotifications=true
